SampleService/WcfServiceClient/Service References/SlaveServiceReference/DataSpreaderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataSpreaderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/Services/ServiceSlave1?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/Services/ServiceSlave1?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8085/Services/ServiceSlave1?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/MyServiceLibrary.Infrastructure.SearchCriteria" />
      <xsd:import schemaLocation="http://localhost:8085/Services/ServiceSlave1?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyServiceLibrary.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceOf_User_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_User_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_User_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_User_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_User_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_User_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_User_GetByPredicate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByPredicate" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_User_GetByPredicate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByPredicateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_User_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_User_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_User_Load_InputMessage">
    <wsdl:part name="parameters" element="tns:Load" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_User_Load_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceOf_User">
    <wsdl:operation name="Add">
      <wsdl:input wsam:Action="http://tempuri.org/IServiceOf_User/Add" message="tns:IServiceOf_User_Add_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IServiceOf_User/AddResponse" message="tns:IServiceOf_User_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsam:Action="http://tempuri.org/IServiceOf_User/Delete" message="tns:IServiceOf_User_Delete_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IServiceOf_User/DeleteResponse" message="tns:IServiceOf_User_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsam:Action="http://tempuri.org/IServiceOf_User/GetAll" message="tns:IServiceOf_User_GetAll_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IServiceOf_User/GetAllResponse" message="tns:IServiceOf_User_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByPredicate">
      <wsdl:input wsam:Action="http://tempuri.org/IServiceOf_User/GetByPredicate" message="tns:IServiceOf_User_GetByPredicate_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IServiceOf_User/GetByPredicateResponse" message="tns:IServiceOf_User_GetByPredicate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsam:Action="http://tempuri.org/IServiceOf_User/Save" message="tns:IServiceOf_User_Save_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IServiceOf_User/SaveResponse" message="tns:IServiceOf_User_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load">
      <wsdl:input wsam:Action="http://tempuri.org/IServiceOf_User/Load" message="tns:IServiceOf_User_Load_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IServiceOf_User/LoadResponse" message="tns:IServiceOf_User_Load_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceOf_User" type="tns:IServiceOf_User">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_User/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_User/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_User/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByPredicate">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_User/GetByPredicate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_User/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_User/Load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataSpreaderService">
    <wsdl:port name="BasicHttpBinding_IServiceOf_User" binding="tns:BasicHttpBinding_IServiceOf_User">
      <soap:address location="http://localhost:8085/Services/ServiceSlave1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>